layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="SYSTEM" cwd="__HOME__" {
        pane
    }

    tab name="IA" cwd="__ROOT__" focus=true {
        pane split_direction="vertical" {
            pane size="60%" focus=true
            pane split_direction="horizontal" {
                pane size="50%"
                pane size="50%"
            }
        }
    }
}
